<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @flight.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @flight.destination %>
</p>

<p>
  <strong>Date:</strong>
  <%= @flight.departure %>
</p>

<p>
  <strong>Plane:</strong>
  <%= @flight.plane_id %>
</p>

<p>
  <strong>Reservations:</strong>
  <% i = 1 %>
  <% @reservations.each do |rsvp| %>
    <div><%= "Reservation #{i}: " %><% i += 1 %>
      <td><%= "Row: #{rsvp.row}" %></td>
      <td><%= "Col: #{rsvp.column}" %></td>
      <td><%= link_to 'Edit', edit_reservation_path(rsvp) %></td>
    </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_flight_path(@flight) %> |
<%= link_to 'New Reservation', new_reservation_path %> |
<%= link_to 'Back', flights_path %>
